<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>MagicWindow.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>bitcode</key>
			<true/>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
				<key>dateExpires</key>
				<string>6/17/21</string>
				<key>type</key>
				<string>Apple Distribution</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CocoaLumberjack.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>CoreMLHelpers.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>DeepDiff.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FBLPromises.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>Fritz.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FritzCore.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FritzManagedModel.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FritzVision.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>FritzVisionSkySegmentationModelAccurate.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>GoogleUtilities.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>PINCache.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVGKit.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>SVProgressHUD.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>libwebp.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>bitcode</key>
					<true/>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>25CB496F66A574C319A7CD0BFF05A97BC87B3F1E</string>
						<key>dateExpires</key>
						<string>6/17/21</string>
						<key>type</key>
						<string>Apple Distribution</string>
					</dict>
					<key>name</key>
					<string>nanopb.framework</string>
					<key>symbols</key>
					<true/>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>CFWHV8688B</string>
						<key>name</key>
						<string>Fake Artists LLC</string>
					</dict>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>CFWHV8688B.studio.fakeartists.magicsky</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>CFWHV8688B</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>CFWHV8688B.studio.fakeartists.magicsky</string>
				</array>
			</dict>
			<key>name</key>
			<string>Magic Sky.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>848bd321-2644-4223-b577-a6f7372451be</string>
				<key>name</key>
				<string>Magic Sky</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>CFWHV8688B</string>
				<key>name</key>
				<string>Fake Artists LLC</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
